.about {
  width: 100vw;
  display: flex;
  justify-content: center;
  .photo {
    width: 50rem;
    height: 50rem;
    background-image: url("../../assets/biurko.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10rem 5rem 0 0;
    border: .5px solid $color-link-hover;
    border-radius: 50%;
  };
  .description {
    color: $color-link;
    width: 35%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem 0;
    p {
      margin-bottom: 1rem;
    };
  };
};