.about {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
  .photo {
    width: 50rem;
    height: 50rem;
    background-image: url("../../assets/biurko.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 6rem 5rem 0 0;
    border: .5px solid $color-link;
    border-radius: 50%;
    @media screen and (max-width: 1200px) {
      width: 35rem;
      height: 35rem;
      margin: 6rem 3rem 0 0;
    }
    @media screen and (max-width: 900px) {
      margin: 6rem 0 0 0;
    }
    @media screen and (max-width: 500px) {
      width: 25rem;
      height: 25rem;
    }
  };
  .description {
    color: $color-link;
    width: 35%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem 0 3rem 0;
    text-align: justify;
    @media screen and (max-width: 1200px) {
      width: 40%;
    }
    @media screen and (max-width: 900px) {
      width: 75%;
    }
    @media screen and (max-width: 500px) {
      width: 85%;
    }
    p {
      margin-bottom: 1.5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    };
  };
};

