footer {
  width: 100vw;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  //margin-top: 1rem;
  &:before {
    width: 70%;
    content: '';
    position: absolute;
    border-top: .5px solid $color-link;
    top: 0;
    left: 15%;
  }
  .icon {
    font-size: 3rem;
    margin: 0 1rem;
    color: $color-link;
    &:hover {
      color: $color-link-hover;
    }
  }
  .created-by {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 2rem;
    color: $color-link;
    .email-address {
      cursor: pointer;
      position: relative;
      display: inline-block;
      &:hover {
        color: $color-email-hover;
        .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }
      .tooltip {
        width: 12rem;
        visibility: hidden;
        background-color: $color-input-background;
        color: $color-link-hover;
        font-family: $raleway;
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: none;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 145%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        &:after {
          content: " ";
          position: absolute;
          top: 50%;
          right: 100%; /* To the left of the tooltip */
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent $color-input-background transparent transparent;
        }
      }
    }
  }
}