.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  .gallery-images {
    width: 30%;
    margin-top: 3rem;
    img {
      width: 100%;
      padding-bottom: 2rem;
      cursor: pointer;
    }
    img:last-of-type {
      padding-bottom: 3rem;
    }
  }
  .gallery-descriptions {
    width: 20%;
    margin: 3rem 0 0 3rem;
    p {
      color: $color-link;
      margin-top: 1.5rem;
      font-size: 1.6rem;
      line-height: 2.1rem;
    }
    .title {
      font-family: $garamond;
      font-size: 2.2rem;
      line-height: 2.6rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    //GalleryLichoTwo
    .ibby {
      @include award;
      background-image: url("../../assets/Licho/IBBY.jpg");
    }
    //GalleryEnglishWords
    .zabawkowicz {
      @include award;
      background-image: url("../../assets/English-words/zabawkowicz.jpg");
    }
  }
}