.image-gallery {
  padding-top: 15rem;
  width: 100%;
  display: flex;
  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
  };
  .gallery-images {
    width: 25%;
    margin: 2rem 0 0 25%;
    @media screen and (max-width: 1200px) {
      margin: 3rem 0 0 15%;
      width: 35%;
    };
    @media screen and (max-width: 900px) {
      margin: 3rem 0 0 0;
      width: 50%;
    };
    @media screen and (max-width: 700px) {
      width: 70%;
    };
    img {
      cursor: pointer;
    }
  }
  .gallery-descriptions {
    width: 20%;
    margin: 1.5rem 0 0 55%;
    position: fixed;
    @media screen and (max-width: 1200px) {
      width: 30%;
      margin: 1.5rem 0 0 55%;
    };
    @media screen and (max-width: 900px) {
      position: initial;
      width: 50%;
      margin: 1.5rem 0 0 0;
    };
    @media screen and (max-width: 700px) {
      width: 70%;
    };
    p {
      color: $color-link;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      line-height: 2rem;    }
    .title {
      font-family: $garamond;
      font-size: 2.2rem;
      line-height: 2.6rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .category {
      .category-link {
        text-decoration: none;
        cursor: pointer;
        color: $color-email-hover;
        &:hover {
          color: $color-link;
        }
      }
    }
    .description {
      text-indent: 1.5rem;
      text-align: justify;
      margin-bottom: 0;
    };
    .award {
      margin-top: 1.5rem;
    }
    //GalleryLichoTwo
    .ibby {
      @include award;
      background-image: url("../../assets/Licho/IBBY.webp");
    }
    //GalleryEnglishWords
    .zabawkowicz {
      @include award;
      background-image: url("../../assets/English-words/zabawkowicz.webp");
    }
    //GalleryLichoAndMystery
    .ferdynand {
      @include award;
      background-image: url("../../assets/Licho1/ferd.webp");
    }
  }
}

.kulturka-link {
  color: $color-email-hover;
  text-decoration: none;
  &:hover {
    color: $color-link;
  }
}

.racoon {
  width: 100%;
  height: 30rem;
  background-image: url("../../assets/Circus/sloth.gif");
  background-position: center;
}

.face {
  width: 100%;
  height: 30rem;
  background-image: url("../../assets/Otoz/face.webp");
  background-position: center;
<<<<<<< HEAD
=======
}

.flower {
  width: 100%;
  height: 30rem;
  background-image: url("../../assets/Thaddeus/flower.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
>>>>>>> 5aaa45053e94f2e89f4f2283cf1ec6d2410a6e4e
}