@media screen and (max-width: 900px){
  #root {
    position: relative;
    .main-navigation-hamburger {
      position: absolute;
      top: 15rem;
      right: 0;
      background-color: white;
      width: 100vw;
      height: 0;
      overflow: hidden;
      transition: 0.5s;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      .menu-hamburger-image {
        box-sizing: border-box;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .image {
          width: 81%;
          height: 100%;
          background-image: url("../../assets/menu.webp");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          @media screen and (max-width: 650px) {
            height: 30%;
          }
        }
      }
      .menu-hamburger-container {
        box-sizing: border-box;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .nav-link {
          font-size: 3rem;
          line-height: 13rem;
          text-decoration: none;
          text-transform: uppercase;
          color: $color-link;
          margin: 0 7rem 0 0;
          cursor: pointer;
          @media screen and (max-width: 650px){
            font-size: 2rem;
            line-height: 8rem;
          }
        }
        .active {
          color: $color-email-hover;
        }
      }
    }
    .visible{
      height: calc(100vh - 15rem);
      overflow: visible;
    }
  }
}

