.fixed {
  z-index: 1;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-color: #ffffff;
  header {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:before {
      content: '';
      width: 60%;
      position: absolute;
      border: .5px solid $color-link;
      bottom: 0;
      left: 20%;
    }
    .left-container {
      height: 100%;
      width: 70%;
      display: flex;
      align-items: center;
      @media screen and (max-width: 900px) {
        width: 70%;
      }
      @media screen and (max-width: 550px) {
        width: 50%;
      }
      .logo {
        margin-left: 10rem;
        font-family: $beth-ellen;
        font-size: 5rem;
        text-decoration: none;
        color: $color-details;
        cursor: pointer;
        @media screen and (max-width: 1200px) {
          font-size: 4rem;
        };
        @media screen and (max-width: 800px) {
          font-size: 3.5rem;
        };
        @media screen and (max-width: 550px) {
          margin-left: 7rem;
        };
      };
      .animation-motorbike {
        background-image: url("../../assets/plaza.gif");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 30%;
        @media screen and (max-width: 1200px) {
          height: 120%;
          width: 40%;
        };
        @media screen and (max-width: 900px) {
          height: 70%;
          width: 35%;
        };
        @media screen and (max-width: 600px) {
          display: none;
        };
        .animation-motorbike-link {
          display: block;
          width: 100%;
          height: 100%;
        }
      };
    }
    .right-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 10rem;
      width: 60%;
      position: relative;
      @media screen and (max-width: 900px) {
        width: 30%;
      }
      @media screen and (max-width: 550px) {
        margin-right: 7rem;
        width: 50%;

      }
      .main-navigation {
        display: flex;
        margin-right: 2rem;
        @media screen and (max-width: 900px) {
          display: none;
        };
        .nav-link {
          font-size: 1.5rem;
          text-decoration: none;
          text-transform: uppercase;
          color: $color-link;
          margin: 0 2rem;
          cursor: pointer;
          &:hover {
            color: $color-email-hover;
          }
          @media screen and (max-width: 1200px) {
            margin: 0 1rem;
            font-size: 1.3rem;
          };
          @media screen and (max-width: 900px) {
            margin: 2rem 3rem;
            font-size: 2rem;
            line-height: 4rem;
            display: inline-block;
          };
        }
        .active {
          color: $color-email-hover;
        }
      }
     .hamburger {
       display: none;
       width: 3.8rem;
       height: 2.2rem;
       cursor: pointer;
       @media screen and (max-width: 900px) {
         display: initial;
       }
      }
      .flags {
        .flag {
          cursor: pointer;
          display: inline-block;
          width: 3rem;
          height: 3rem;
          background-position: center;
          border-radius: 50%;
          border: 0.5px solid $color-link;
        };
        .pl {
          background-image: url("../../assets/poland-flag-square-icon-32.png");
          margin-right: 1rem;
          @media screen and (max-width: 900px) {
            margin: 0 1rem 0 2rem;
          }
        };
        .uk {
          background-image: url("../../assets/united-kingdom-flag-square-icon-32.png");
        };
      };
    };
  };
};