  .portfolio {
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 15rem);
    padding: 15rem 8.5% 0 8.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and  (max-width: 1600px) {
      padding: 16.5rem 2% 0 2%
    }
    .categories {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: .5rem 0 1rem 0;
      color: $color-link;
      @media screen and  (max-width: 600px) {
        margin: 1rem 7%;
      }
      li {
        font-size: 1.5rem;
        color: $color-link;
        margin-right: 2rem;
        cursor: pointer;
        &:hover {
          color: $color-email-hover;
        };
        &:last-of-type {
          margin-right: 0;
        };
        @media screen and  (max-width: 600px) {
          margin: 1rem;
        }
      };
      .highlightened {
        color: $color-email-hover;
      };
    };
    .miniature {
      width: 39.65rem;
      height: 29.25rem;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 1rem 2rem 2rem 2rem;
      cursor: pointer;
      text-decoration: none;
      .mini-shade {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.5s;
        display: flex;
        align-items: center;
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
          p {
            opacity: 1;
            height: 2.5rem;
          };
        };
        p {
          display: block;
          width: 100%;
          height: 0;
          font-family: $garamond;
          font-size: 2rem;
          font-weight: 700;
          line-height: 2.5rem;
          text-transform: uppercase;
          color: rgba(69, 61, 60, 1);
          opacity: 0;
          text-align: center;
          transition: 0.5s;
        };
      };
    };
    .gallery-licho-two {
      background-image: url("../../assets/Licho/cover.webp");
    }
    .gallery-english-words {
      background-image: url("../../assets/English-words/cover.webp");
    };
    .gallery-cats-city {
      background-image: url("../../assets/Cats-city/cover.webp");
    };
    .gallery-OTOZ {
      background-image: url("../../assets/Otoz/cover.webp");
      background-size: contain;
      background-position: center;
    };
    .gallery-logrelet {
      background-image: url("../../assets/Olbrzymek/cover.webp");
    };
    .gallery-row-fairy-tales {
      background-image: url("../../assets/Row-in-fairytales/cover.webp");
    };
    .gallery-what-dogs-do {
      background-image: url("../../assets/WhatDogsDo/cover.webp")
    };
    .gallery-thing-stories {
      background-image: url("../../assets/Thing-stories/cover.webp")
    };
    .gallery-thaddeus {
      background-image: url("../../assets/Thaddeus/cover.webp");
      background-size: contain;
      background-position: center;
    };
    .gallery-licho-and-mystery {
      background-image: url("../../assets/Licho1/cover.webp");
    };
    .gallery-romeo-juliet {
      background-image: url("../../assets/RomeoAndJuliet/cover.webp");
    };
    .gallery-tainted-bird {
      background-image: url("../../assets/TaintedBird/cover.webp");
    };
    .gallery-kulturka-two {
      background-image: url("../../assets/Kulturka3/cover.webp");
    };
    .gallery-kulturka {
      background-image: url("../../assets/Kulturka1/cover.webp");
      background-size: contain;
      background-position: center;
    };
    .gallery-floating-islands {
      background-image: url("../../assets/Circus/cover.webp");
    }
    .gallery-kulturka-three {
      background-image: url("../../assets/Kulturka2017/cover.webp");
    }
    .gallery-fury {
      background-image: url("../../assets/Fury/cover.webp");
    }
    .gallery-ezop {
      background-image: url("../../assets/Ezop/cover.webp");
    }
  };

