.portfolio {
  width: 100vw;
  height: calc(100vh - 25rem);
  box-sizing: border-box;
  padding: 1% 11.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 1.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: .5rem;
    -webkit-box-shadow: inset 0 0 6px $color-details
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-details;
    border-radius: .5rem;
  }
  .miniature {
    width: 23vw;
    height: 33.5vh;
    background-image: url("../../assets/magda.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0;
    cursor: pointer;
    text-decoration: none;
    .mini-shade {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0);
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
      p {
        line-height: 33.5vh;
        width: 100%;
        height: 100%;
        font-family: $garamond;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(69, 61, 60, 1);
        opacity: 0;
        text-align: center;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .gallery-licho-two {
    background-image: url("../../assets/Licho/cover.png");
  }
  .gallery-english-words {
    background-image: url("../../assets/English-words/cover.png");
  }
}

