$color-link: rgba(94, 86, 85, 1);
$color-link-hover: rgba(165, 157, 156, 1);
$color-input-background: rgba(248, 246, 237, 0.5);
$color-details: rgba(150, 217, 161, 1);
$color-email-hover: rgba(75, 190, 94, 1)