@mixin input {
  outline: none;
  font-family: $raleway;
  font-size: 1.6rem;
  background-color: $color-input-background;
  border: 0.5px solid $color-input-background;
  border-radius: 20px;
  padding: 1.5rem;
  box-sizing: border-box;
  cursor: text;
  &:hover {
    border: 0.5px solid $color-link-hover;
  };
  &:focus {
    border: 0.5px solid $color-link-hover;
  }
}

@mixin tooltip {
  text-transform: none;
  visibility: hidden;
  background-color: $color-input-background;
  color: $color-link-hover;
  font-family: $raleway;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}