@mixin input {
  outline: none;
  font-family: $raleway;
  font-size: 1.6rem;
  background-color: $color-input-background;
  border: 0.5px solid $color-input-background;
  border-radius: 20px;
  padding: 1.5rem;
  box-sizing: border-box;
  cursor: text;
  &:hover {
    border: 0.5px solid $color-link-hover;
  };
  &:focus {
    border: 0.5px solid $color-link-hover;
  }
}