@mixin input {
  outline: none;
  font-family: $raleway;
  font-size: 1.6rem;
  background-color: $color-input-background;
  border: 0.5px solid $color-input-background;
  border-radius: 20px;
  padding: 1.5rem;
  box-sizing: border-box;
  cursor: text;
  &:hover {
    border: 0.5px solid $color-link;
  };
  &:focus {
    border: 0.5px solid $color-link;
  };
  @media screen and (max-width: 1000px) {
    background-color: rgba(248, 246, 237, 0.7)
  }
};

@mixin tooltip {
  text-transform: none;
  visibility: hidden;
  background-color: $color-input-background;
  color: $color-link;
  font-family: $raleway;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
};

@mixin award {
  width: 150px;
  height: 150px;
  background-size: contain;
  margin-top: 1.5rem;
};